<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="{% static 'insta-clone/css/bootstrap.min.css' %}"
    />

    <link rel="stylesheet" href="{% static 'insta-clone/css/style.css' %}" />

    <title>Blog</title>
  </head>
  <body class="bg-light">
    {% block navbar %} {% include 'navbar.html' %} {% endblock %}
    {% block content %} {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'insta-clone/js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'insta-clone/js/popper-2.11.2.js' %}"></script>
    <script src="{% static 'insta-clone/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'insta-clone/js/script.js' %}"></script>
  </body>
</html>
